In [22]:
import pandas as pd
import numpy as np

df_2008 = pd.read_csv("loans2008.csv")
df_2008.head()
df_2008.drop("_id", axis=1, inplace=True) #removing ID column
df_2008.drop("FEMA Disaster Number", axis=1, inplace=True) #Removing FEMA column
df_2008['Year'] = 2008 #adding year
df_2008.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,11055,11056,TX-00265,BOERNE,78006,KENDALL,TX,747912,747912,0,0,0,0,0,2008
1,11055,11056,TX-00265,CASTROVILLE,78009,MEDINA,TX,111171,72946,38225,69700,26400,26700,16600,2008
2,11055,11056,TX-00265,HAMLIN,79520,JONES,TX,4235,4235,0,4300,4300,0,0,2008
3,11055,11056,TX-00265,HOUSTON,77034,HARRIS,TX,57525,57525,0,0,0,0,0,2008
4,11055,11056,TX-00265,MERKEL,79536,TAYLOR,TX,87424,76474,10950,0,0,0,0,2008

Do cleaning process for each year up until 2015

In [23]:
df_2009 = pd.read_csv("loans2009.csv")

df_2009.drop("FEMA Disaster Number", axis=1, inplace=True) #Removing FEMA column 
df_2009.drop("_id", axis=1, inplace=True) #Removing ID column
df_2009.dropna()
df_2009['Year']=2009 #adding the year column
df_2009.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,11464,11465.0,PR-00003,AGUIRRE,704.0,SALINAS,PR,51165.0,46475.0,4690.0,0.0,0.0,0.0,0.0,2009
1,11464,11465.0,PR-00003,AIBONITO,705.0,AIBONITO,PR,0.0,0.0,0.0,12000.0,0.0,0.0,12000.0,2009
2,11464,11465.0,PR-00003,ARROYO,714.0,ARROYO,PR,116290.0,100558.0,15732.0,21000.0,19800.0,0.0,1200.0,2009
3,11464,11465.0,PR-00003,BOQUERON,622.0,CABO ROJO,PR,12454.0,12454.0,0.0,6600.0,4500.0,0.0,2100.0,2009
4,11464,11465.0,PR-00003,CABO ROJO,622.0,CABO ROJO,PR,35170.0,35170.0,0.0,0.0,0.0,0.0,0.0,2009

In [24]:
df_2010 = pd.read_csv("loans2010.csv")

df_2010.drop("FEMA Disaster Number", axis=1, inplace=True)
df_2010.drop("_id", axis=1, inplace=True)
df_2010.dropna()

df_2010['Year']=2010
df_2010.head(20)

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,11891,11892.0,NY-00074,YONKERS,10701.0,WESTCHESTER,NY,100121.0,98421.0,1700.0,43400.0,41700.0,1700.0,0.0,2010
1,11891,11892.0,NY-00074,YONKERS,10703.0,WESTCHESTER,NY,37131.0,37131.0,0.0,0.0,0.0,0.0,0.0,2010
2,11909,11910.0,TN-00033,CHATTANOOGA,37404.0,HAMILTON,TN,22370.0,8300.0,14070.0,22400.0,8300.0,14100.0,0.0,2010
3,11909,11910.0,TN-00033,CHATTANOOGA,37411.0,HAMILTON,TN,152597.0,86888.0,65709.0,152600.0,86900.0,65700.0,0.0,2010
4,11909,11910.0,TN-00033,CHATTANOOGA,37412.0,HAMILTON,TN,1561422.0,1054936.0,506486.0,1558600.0,555000.0,506500.0,497100.0,2010
5,11909,11910.0,TN-00033,CHATTANOOGA,37415.0,HAMILTON,TN,20768.0,14768.0,6000.0,0.0,0.0,0.0,0.0,2010
6,11909,11910.0,TN-00033,EAST RIDGE,37412.0,HAMILTON,TN,1020453.0,956015.0,64438.0,87300.0,0.0,0.0,87300.0,2010
7,11924,11925.0,PA-00027,BLOOMSBURG,17815.0,COLUMBIA,PA,1376864.0,1224491.0,152373.0,782500.0,624000.0,152300.0,6200.0,2010
8,11926,11927.0,IN-00031,CLARKSVILLE,47129.0,CLARK,IN,53727.0,53727.0,0.0,43800.0,43800.0,0.0,0.0,2010
9,11926,11927.0,IN-00031,JEFFERSONVILLE,47130.0,CLARK,IN,644524.0,627452.0,17072.0,177400.0,110300.0,17100.0,0.0,2010
10,11926,11927.0,IN-00031,NEW ALBANY,47150.0,FLOYD,IN,76450.0,76450.0,0.0,0.0,0.0,0.0,0.0,2010
11,11926,11927.0,IN-00031,SELLERSBURG,47172.0,CLARK,IN,32399.0,32399.0,0.0,0.0,0.0,0.0,0.0,2010
12,11939,11940.0,VA-00026,CHESAPEAKE,23320.0,CHESAPEAKE CITY,VA,29073.0,14766.0,14307.0,0.0,0.0,0.0,0.0,2010
13,11939,11940.0,VA-00026,CHESAPEAKE,23322.0,CHESAPEAKE CITY,VA,293020.0,265943.0,27077.0,185800.0,183900.0,1900.0,0.0,2010
14,11939,11940.0,VA-00026,CHESAPEAKE,23323.0,CHESAPEAKE CITY,VA,40781.0,40781.0,0.0,0.0,0.0,0.0,0.0,2010
15,11939,11940.0,VA-00026,CHESAPEAKE,23324.0,CHESAPEAKE CITY,VA,24328.0,23578.0,750.0,0.0,0.0,0.0,0.0,2010
16,11939,11940.0,VA-00026,HAMPTON,23663.0,HAMPTON CITY,VA,14800.0,14800.0,0.0,0.0,0.0,0.0,0.0,2010
17,11939,11940.0,VA-00026,HAMPTON,23664.0,HAMPTON CITY,VA,113518.0,113518.0,0.0,113600.0,113600.0,0.0,0.0,2010
18,11939,11940.0,VA-00026,HAMPTON,23669.0,HAMPTON CITY,VA,156641.0,123665.0,32976.0,0.0,0.0,0.0,0.0,2010
19,11939,11940.0,VA-00026,NEWPORT NEWS,23602.0,NEWPORT NEWS CITY,VA,7163.0,7163.0,0.0,0.0,0.0,0.0,0.0,2010

In [25]:
df_2011 = pd.read_csv("loans2011.csv")

df_2011.drop("FEMA Disaster Number", axis=1, inplace=True)
df_2011.drop("_id", axis=1, inplace=True)
df_2011.dropna()

df_2011['Year']=2011
df_2011.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,12351,12352,MN-00027,DODGE CENTER,55927,DODGE,MN,63022,47520,15502,14000,14000,0,0,2011
1,12351,12352,MN-00027,FARIBAULT,55021,RICE,MN,36153,34353,1800,26700,26200,500,0,2011
2,12351,12352,MN-00027,HAMMOND,55991,WABASHA,MN,512397,400601,111796,499000,216700,98600,26000,2011
3,12351,12352,MN-00027,MAZEPPA,55956,WABASHA,MN,158937,142826,16111,158900,142800,16100,0,2011
4,12351,12352,MN-00027,MILLVILLE,55957,WABASHA,MN,386098,379198,6900,0,0,0,0,2011

In [26]:
df_2012 = pd.read_csv("loans2012.csv")

df_2012.drop("FEMA Disaster Number", axis=1, inplace=True)
df_2012.drop("_id", axis=1, inplace=True)
df_2012.dropna()

df_2012['Year']=2012
df_2012.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,12876,12877.0,NJ-00022,PHILADELPHIA,19132.0,PHILADELPHIA,PA,38232.0,38232.0,0.0,0.0,0.0,0.0,0.0,2012
1,12884,12885.0,MA-00043,BEVERLY,1915.0,ESSEX,MA,299066.0,140296.0,158770.0,263800.0,25600.0,150600.0,87600.0,2012
2,12884,12885.0,MA-00043,LYNN,1901.0,ESSEX,MA,254946.0,189991.0,64955.0,0.0,0.0,0.0,0.0,2012
3,12884,12885.0,MA-00043,LYNN,1902.0,ESSEX,MA,37129.0,5179.0,31950.0,32000.0,0.0,32000.0,0.0,2012
4,12884,12885.0,MA-00043,SWAMPSCOTT,1907.0,ESSEX,MA,36836.0,23336.0,13500.0,34100.0,16900.0,13500.0,3700.0,2012

In [27]:
df_2013 = pd.read_csv("loans2013.csv")

df_2013.drop("FEMA Disaster Number", axis=1, inplace=True)
df_2013.drop("_id", axis=1, inplace=True)
df_2013.dropna()

df_2013['Year']=2013
df_2013.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,13326,13327,UT-00015,SANTA CLARA,84765,WASHINGTON,UT,514761,387766,126995,160600,158900.0,1700.0,0,2013
1,13328,13329,OK-00066,LUTHER,73054,OKLAHOMA,OK,61759,32029,29730,0,0.0,0.0,0,2013
2,13330,13331,OK-00067,GLENCOE,74032,PAYNE,OK,75248,30758,44490,77200,30800.0,44500.0,1900,2013
3,13341,13342,NY-00126,BETHEL,12720,SULLIVAN,NY,17331,17331,0,0,0.0,0.0,0,2013
4,13346,13347,PA-00054,WYNCOTE,19095,MONTGOMERY,PA,102761,83586,19175,28900,21800.0,6000.0,1100,2013

In [28]:
df_2014 = pd.read_csv("loans2014.csv")

df_2014.drop("FEMA Disaster Number", axis=1, inplace=True)
df_2014.drop("_id", axis=1, inplace=True)
df_2014.dropna()

df_2014['Year']=2014
df_2014.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,13792,13793.0,SC-00024,GEORGETOWN,29440.0,GEORGETOWN,SC,749971.0,61233.0,688738.0,509500.0,31800.0,399000.0,78700.0,2014
1,13794,13795.0,MO-00067,BULL SHOALS,72619.0,MARION,AR,0.0,0.0,0.0,5000.0,0.0,0.0,5000.0,2014
2,13794,13795.0,MO-00067,DEVILS ELBOW,65457.0,PULASKI,MO,12675.0,12675.0,0.0,0.0,0.0,0.0,0.0,2014
3,13794,13795.0,MO-00067,LAQUEY,65534.0,PULASKI,MO,4510.0,0.0,4510.0,0.0,0.0,0.0,0.0,2014
4,13794,13795.0,MO-00067,RICHLAND,65556.0,PULASKI,MO,42550.0,28515.0,14035.0,0.0,0.0,0.0,0.0,2014

In [29]:
df_2015 = pd.read_csv("loans2015.csv")

df_2015.drop("FEMA Disaster Number", axis=1, inplace=True)
df_2015.drop("_id", axis=1, inplace=True)
df_2015.dropna()

df_2015['Year']=2015
df_2015.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,14138,14139,CA-00225,WEED,96094,SISKIYOU,CA,1175762,1145392,30370,95000,51200,0,43800.0,2015
1,14143,14144,AZ-00039,GLENDALE,85301,MARICOPA,AZ,88454,88454,0,99100,88500,0,10600.0,2015
2,14143,14144,AZ-00039,MESA,85204,MARICOPA,AZ,19033,19033,0,19100,19100,0,0.0,2015
3,14143,14144,AZ-00039,MESA,85210,MARICOPA,AZ,9878,5978,3900,0,0,0,0.0,2015
4,14143,14144,AZ-00039,MESA,85213,MARICOPA,AZ,88971,88971,0,89000,89000,0,0.0,2015

Adding data from every year to the same dataframe

In [30]:
df_all = df_2008.append(df_2009, ignore_index = True)

df_all = df_all.append(df_2010, ignore_index = True)

df_all = df_all.append(df_2011, ignore_index = True)

df_all = df_all.append(df_2012, ignore_index = True)

df_all = df_all.append(df_2013, ignore_index = True)

df_all = df_all.append(df_2014, ignore_index = True)

df_all = df_all.append(df_2015, ignore_index = True)

df_all.Year.unique()

df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8648 entries, 0 to 8647
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   SBA Physical Declaration Number      8648 non-null   object
 1   SBA EIDL Declaration Number          8640 non-null   float64
 2   SBA Disaster Number                  8640 non-null   object
 3   Damaged Property City Name           8640 non-null   object
 4   Damaged Property Zip Code            8640 non-null   object
 5   Damaged Property County/Parish Name  8640 non-null   object
 6   Damaged Property State Code          8640 non-null   object
 7   Total Verified Loss                  8640 non-null   float64
 8   Verified Loss Real Estate            8640 non-null   float64
 9   Verified Loss Content                8640 non-null   float64
 10  Total Approved Loan Amount           8640 non-null   float64
 11  Approved Amount Real Estate          8640 non-null   float64
 12  Approved Amount Content              8640 non-null   float64
 13  Approved Amount EIDL                 8606 non-null   float64
 14  Year                                 8648 non-null   int64
dtypes: float64(8), int64(1), object(6)
memory usage: 1013.6+ KB

In [31]:
df_all.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,11055,11056.0,TX-00265,BOERNE,78006.0,KENDALL,TX,747912.0,747912.0,0.0,0.0,0.0,0.0,0.0,2008
1,11055,11056.0,TX-00265,CASTROVILLE,78009.0,MEDINA,TX,111171.0,72946.0,38225.0,69700.0,26400.0,26700.0,16600.0,2008
2,11055,11056.0,TX-00265,HAMLIN,79520.0,JONES,TX,4235.0,4235.0,0.0,4300.0,4300.0,0.0,0.0,2008
3,11055,11056.0,TX-00265,HOUSTON,77034.0,HARRIS,TX,57525.0,57525.0,0.0,0.0,0.0,0.0,0.0,2008
4,11055,11056.0,TX-00265,MERKEL,79536.0,TAYLOR,TX,87424.0,76474.0,10950.0,0.0,0.0,0.0,0.0,2008

In [32]:
df_all.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Damaged Property State Code,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year
0,11055,11056.0,TX-00265,BOERNE,78006.0,KENDALL,TX,747912.0,747912.0,0.0,0.0,0.0,0.0,0.0,2008
1,11055,11056.0,TX-00265,CASTROVILLE,78009.0,MEDINA,TX,111171.0,72946.0,38225.0,69700.0,26400.0,26700.0,16600.0,2008
2,11055,11056.0,TX-00265,HAMLIN,79520.0,JONES,TX,4235.0,4235.0,0.0,4300.0,4300.0,0.0,0.0,2008
3,11055,11056.0,TX-00265,HOUSTON,77034.0,HARRIS,TX,57525.0,57525.0,0.0,0.0,0.0,0.0,0.0,2008
4,11055,11056.0,TX-00265,MERKEL,79536.0,TAYLOR,TX,87424.0,76474.0,10950.0,0.0,0.0,0.0,0.0,2008

In [33]:
df_all.isnull().sum()

SBA Physical Declaration Number         0
SBA EIDL Declaration Number             8
SBA Disaster Number                     8
Damaged Property City Name              8
Damaged Property Zip Code               8
Damaged Property County/Parish Name     8
Damaged Property State Code             8
Total Verified Loss                     8
Verified Loss Real Estate               8
Verified Loss Content                   8
Total Approved Loan Amount              8
Approved Amount Real Estate             8
Approved Amount Content                 8
Approved Amount EIDL                   42
Year                                    0
dtype: int64

Adding a dataframe for the full state names so we can join on State Names later

In [34]:
States = pd.read_csv("states.csv")

In [35]:
df_all.dropna(axis=0, inplace=True)

In [36]:
States.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [37]:

States = States.rename(columns={'Code': 'State Code'})

In [38]:
df_all = df_all.rename(columns={'Damaged Property State Code': 'State Code'})

In [39]:
madf = df_all.merge(States, on='State Code', how='inner')

madf.drop("State Code", axis=1, inplace=True)
madf.drop("Abbrev", axis=1, inplace=True)

In [40]:
madf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8395 entries, 0 to 8394
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   SBA Physical Declaration Number      8395 non-null   object
 1   SBA EIDL Declaration Number          8395 non-null   float64
 2   SBA Disaster Number                  8395 non-null   object
 3   Damaged Property City Name           8395 non-null   object
 4   Damaged Property Zip Code            8395 non-null   object
 5   Damaged Property County/Parish Name  8395 non-null   object
 6   Total Verified Loss                  8395 non-null   float64
 7   Verified Loss Real Estate            8395 non-null   float64
 8   Verified Loss Content                8395 non-null   float64
 9   Total Approved Loan Amount           8395 non-null   float64
 10  Approved Amount Real Estate          8395 non-null   float64
 11  Approved Amount Content              8395 non-null   float64
 12  Approved Amount EIDL                 8395 non-null   float64
 13  Year                                 8395 non-null   int64
 14  State                                8395 non-null   object
dtypes: float64(8), int64(1), object(6)
memory usage: 1.0+ MB

In [41]:
madf.head()

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year,State
0,11055,11056.0,TX-00265,BOERNE,78006.0,KENDALL,747912.0,747912.0,0.0,0.0,0.0,0.0,0.0,2008,Texas
1,11055,11056.0,TX-00265,CASTROVILLE,78009.0,MEDINA,111171.0,72946.0,38225.0,69700.0,26400.0,26700.0,16600.0,2008,Texas
2,11055,11056.0,TX-00265,HAMLIN,79520.0,JONES,4235.0,4235.0,0.0,4300.0,4300.0,0.0,0.0,2008,Texas
3,11055,11056.0,TX-00265,HOUSTON,77034.0,HARRIS,57525.0,57525.0,0.0,0.0,0.0,0.0,0.0,2008,Texas
4,11055,11056.0,TX-00265,MERKEL,79536.0,TAYLOR,87424.0,76474.0,10950.0,0.0,0.0,0.0,0.0,2008,Texas

In [43]:
madf.to_csv(r'C:\Dev10\Assessments\mikhaela-capstone\full-disaster-loan.csv', index=False)