In [36]:
import numpy as np; import datetime
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns

In [37]:
df = pd.read_csv('ml-03-data-processing-songs-dataset.csv', thousands=',')
df.rename(columns={'Length (Duration)': 
                   'length', 'Loudness (dB)' : 'db', 
                   'Beats Per Minute (BPM)' : 'bpm', 
                   'Top Genre' : 'Genre'}, inplace=True)
df.head()

,Index,Title,Artist,Genre,Year,Month,bpm,Energy,Danceability,db,Liveness,Valence,length,Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004.0,10,157.0,30.0,53.0,-14.0,11.0,68.0,201.0,94.0,3.0,71.0
1,2,Black Night,Deep Purple,album rock,2000.0,3,135.0,79.0,50.0,-11.0,17.0,81.0,207.0,17.0,7.0,39.0
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001.0,6,168.0,69.0,66.0,-9.0,7.0,52.0,341.0,2.0,17.0,69.0
3,4,The Pretender,Foo Fighters,alternative metal,2007.0,1,173.0,96.0,43.0,-4.0,3.0,37.0,269.0,0.0,4.0,76.0
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002.0,8,106.0,82.0,58.0,-5.0,10.0,87.0,256.0,1.0,3.0,59.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         1994 non-null   int64
 1   Title         1991 non-null   object
 2   Artist        1986 non-null   object
 3   Genre         1986 non-null   object
 4   Year          1987 non-null   float64
 5   Month         1994 non-null   object
 6   bpm           1985 non-null   float64
 7   Energy        1986 non-null   float64
 8   Danceability  970 non-null    float64
 9   db            1987 non-null   float64
 10  Liveness      1986 non-null   float64
 11  Valence       960 non-null    float64
 12  length        1985 non-null   float64
 13  Acousticness  1986 non-null   float64
 14  Speechiness   1990 non-null   float64
 15  Popularity    1987 non-null   float64
dtypes: float64(11), int64(1), object(4)
memory usage: 249.4+ KB

In [39]:
df.shape

(1994, 16)

In [40]:
df.isna().sum()

Index              0
Title              3
Artist             8
Genre              8
Year               7
Month              0
bpm                9
Energy             8
Danceability    1024
db                 7
Liveness           8
Valence         1034
length             9
Acousticness       8
Speechiness        4
Popularity         7
dtype: int64

#### Drop Cols w/ 50% missing

In [41]:
df.drop(columns=['Index', 'Danceability', 'Valence'], inplace=True)
df.head()

,Title,Artist,Genre,Year,Month,bpm,Energy,db,Liveness,length,Acousticness,Speechiness,Popularity
0,Sunrise,Norah Jones,adult standards,2004.0,10,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0
1,Black Night,Deep Purple,album rock,2000.0,3,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0
2,Clint Eastwood,Gorillaz,alternative hip hop,2001.0,6,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0
3,The Pretender,Foo Fighters,alternative metal,2007.0,1,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0
4,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002.0,8,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0

In [42]:
df.isnull().sum()

Title           3
Artist          8
Genre           8
Year            7
Month           0
bpm             9
Energy          8
db              7
Liveness        8
length          9
Acousticness    8
Speechiness     4
Popularity      7
dtype: int64

#### Drop row with 50% missing

In [43]:
df.shape

(1994, 13)

In [44]:
df.dropna(axis=0, thresh=7, inplace=True)

In [45]:
df.shape

(1986, 13)

In [46]:
df.describe()

,Year,bpm,Energy,db,Liveness,length,Acousticness,Speechiness,Popularity
count,1984.000000,1983.000000,1982.000000,1982.000000,1983.000000,1982.000000,1984.000000,1985.000000,1985.000000
mean,1959.468246,120.234493,59.644299,-9.016145,19.019667,262.616549,28.916835,4.991940,59.511839
std,250.835292,28.639923,22.172175,3.652323,16.750412,93.819708,29.028802,4.408105,14.366705
min,92.000000,15.000000,3.000000,-27.000000,2.000000,93.000000,0.000000,2.000000,11.000000
25%,1978.000000,99.000000,42.000000,-11.000000,9.000000,212.000000,3.000000,3.000000,49.000000
50%,1993.000000,119.000000,61.000000,-8.500000,12.000000,245.000000,18.000000,4.000000,62.000000
75%,2007.000000,136.000000,78.000000,-6.000000,23.000000,290.000000,50.000000,5.000000,71.000000
max,2019.000000,305.000000,100.000000,-2.000000,99.000000,1412.000000,99.000000,55.000000,100.000000

In [47]:
# sns.pairplot(df)

In [48]:
df.select_dtypes(include=np.number).columns.tolist()

['Year',
 'bpm',
 'Energy',
 'db',
 'Liveness',
 'length',
 'Acousticness',
 'Speechiness',
 'Popularity']

In [52]:
ss = StandardScaler()

zscore = ss.fit_transform(df[df.select_dtypes(include=np.number).columns.tolist()])

In [53]:
z_df = pd.DataFrame(zscore, columns=df.select_dtypes(include=np.number).columns.tolist())

In [65]:
z_df.sort_values(by='Liveness', ascending=False).head(30)

,Year,bpm,Energy,db,Liveness,length,Acousticness,Speechiness,Popularity
1255,0.093837,0.934788,1.595000,0.826024,4.776032,0.259962,-0.996394,1.136389,-1.428094
405,0.201505,1.877766,1.459661,-0.543313,4.776032,0.739727,-0.961937,0.455653,-1.567340
1369,0.105800,-0.008190,-1.247116,-3.281987,4.716317,-0.742212,-0.307249,2.724773,-1.288848
163,0.185554,0.341061,-1.247116,-2.186518,4.656602,0.195994,0.829839,0.682565,-1.288848
258,0.173591,1.039563,1.504774,1.647626,4.656602,-0.827504,0.244066,0.682565,0.033987
320,0.185554,-1.370269,-0.164405,-0.543313,4.656602,-0.411708,1.587898,0.001829,-0.383750
1096,0.073899,-1.021018,1.008532,0.552156,4.656602,0.579805,-0.651822,0.001829,-1.358471
1746,0.153652,-0.357441,1.188984,0.552156,4.656602,0.601128,-0.824108,0.001829,-0.174882
352,0.177579,0.341061,-0.480196,0.004422,4.596887,0.355915,0.760925,-0.451995,-1.497717
1679,0.141689,-1.265493,-2.104262,-1.364915,4.596887,0.100041,1.518984,-0.451995,-1.985078
1396,0.109788,0.690312,1.369435,0.552156,4.596887,-0.251786,-0.996394,0.228741,-1.219225
492,0.209480,-0.706692,-0.570422,0.552156,4.537172,-0.582291,-0.100506,-0.451995,-1.219225
579,0.217455,0.515687,0.557402,0.278289,4.537172,0.185332,-0.824108,4.313158,-0.871111
1566,-7.446875,-0.916242,-0.344857,-0.817181,4.477457,0.281285,0.106237,0.001829,0.730216
94,0.193529,1.284039,1.504774,1.099891,4.417742,1.496689,0.002866,2.724773,-1.915455
1434,0.113776,-0.636842,0.557402,-1.091048,4.417742,-0.081203,-0.307249,0.001829,-1.079980
411,0.201505,0.375986,1.053645,0.552156,4.358027,-0.486338,-0.961937,-0.451995,-3.168667
1877,0.030034,1.493590,-0.615535,-1.364915,4.358027,0.793034,0.002866,0.455653,0.521348
609,0.221443,-0.881317,0.873193,0.278289,4.298312,-1.019409,-0.445078,-0.225083,-2.333192
1647,0.137702,-0.182815,-0.931325,-0.817181,4.298312,-0.710228,1.346698,-0.225083,-0.174882
498,0.209480,-1.265493,-0.886212,-1.364915,4.238596,-1.115362,0.933211,0.228741,-2.263569
710,0.229419,0.934788,1.324322,1.647626,4.178881,-0.315755,-0.996394,-0.451995,0.521348
605,0.221443,0.166436,1.279209,1.647626,4.059451,0.579805,-0.996394,-0.451995,0.660594
341,0.181566,-0.532066,1.188984,0.552156,4.059451,-0.134510,-0.203878,0.455653,-0.522996
987,0.061936,-1.090868,0.196499,0.004422,3.999736,0.089380,-0.169421,-0.225083,-0.453373
1143,0.077886,-0.497141,0.376950,0.826024,3.940021,-0.699566,-0.445078,-0.225083,0.730216
952,0.057948,-0.287591,0.963419,1.099891,3.940021,-0.699566,1.174411,0.001829,-0.801488
1490,0.117763,0.480762,1.008532,0.826024,3.940021,0.633113,-0.893022,0.001829,0.660594
682,0.229419,-0.078040,1.324322,1.373759,3.940021,1.016924,-0.720736,0.455653,0.660594
1705,0.145677,0.515687,0.557402,-0.269446,3.880306,2.051083,-0.927480,0.228741,-1.706586

In [66]:
df.iloc[1255]

Title           Gloria - Live
Artist                     U2
Genre              irish rock
Year                   1983.0
Month                       3
bpm                     147.0
Energy                   95.0
db                       -6.0
Liveness                 99.0
length                  287.0
Acousticness              0.0
Speechiness              10.0
Popularity               39.0
Name: 1258, dtype: object

#### Missing Vals

In [16]:
df['Genre'].mode()[0]

'album rock'

In [17]:
# Fill in the Genre with the mode
df['Genre'].fillna(df['Genre'].mode()[0], inplace=True)

In [18]:
df._get_numeric_data()

,Year,bpm,Energy,db,Liveness,length,Acousticness,Speechiness,Popularity
0,2004.0,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0
1,2000.0,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0
2,2001.0,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0
3,2007.0,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0
4,2002.0,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0
...,...,...,...,...,...,...,...,...,...
1989,1958.0,94.0,21.0,-12.0,11.0,128.0,84.0,7.0,63.0
1990,1958.0,175.0,76.0,-8.0,76.0,136.0,73.0,6.0,69.0
1991,1959.0,168.0,80.0,-9.0,31.0,162.0,74.0,7.0,74.0
1992,1959.0,174.0,26.0,-13.0,7.0,324.0,54.0,4.0,65.0
1993,1959.0,133.0,50.0,-10.0,16.0,148.0,74.0,3.0,56.0

In [19]:
impute_mean = SimpleImputer(strategy='mean')

new_df = pd.DataFrame(SimpleImputer().fit_transform(df._get_numeric_data()), columns = df._get_numeric_data().columns)

In [20]:
print(new_df.dtypes)
new_df.isnull().sum()

Year            float64
bpm             float64
Energy          float64
db              float64
Liveness        float64
length          float64
Acousticness    float64
Speechiness     float64
Popularity      float64
dtype: object

Year            0
bpm             0
Energy          0
db              0
Liveness        0
length          0
Acousticness    0
Speechiness     0
Popularity      0
dtype: int64

In [21]:
new_df.head()

,Year,bpm,Energy,db,Liveness,length,Acousticness,Speechiness,Popularity
0,2004.0,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0
1,2000.0,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0
2,2001.0,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0
3,2007.0,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0
4,2002.0,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0

#### Part 4 -- Change 92 to 1992
The verify that the values have changed to `1992`

In [22]:
df.loc[df['Year'] == 92., ['Year']] = 1992.
df['Year'].unique()

array([2004., 2000., 2001., 2007., 2002., 2006., 2003., 2005., 2009.,
       2008., 2010., 2011., 2012., 2013., 2014., 2015., 2016., 2017.,
       2018., 2019., 1970., 1971., 1972.,   nan, 1973., 1974., 1975.,
       1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984.,
       1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993.,
       1994., 1995., 1996., 1997., 1998., 1999., 1960., 1961., 1962.,
       1963., 1964., 1965., 1966., 1967., 1968., 1969., 1956., 1958.,
       1959.])

In [23]:
df.dtypes

Title            object
Artist           object
Genre            object
Year            float64
Month            object
bpm             float64
Energy          float64
db              float64
Liveness        float64
length          float64
Acousticness    float64
Speechiness     float64
Popularity      float64
dtype: object

#### Part 5
Combine the date-related columns into one column with the Pandas `to_datetime()` method, then use that column to create a numeric `Age` column (in years). Calculate `Age` based on today's date; it doesn't have to be a whole number. Once you've created the Age column, remove the other date-related columns, including the one you created with Pandas.

In [24]:
# Fill the year nan's with the mode of year
df['Year'].fillna(value=(df['Year'].mode()), inplace=True)

# Create a dictionary to map the month values
col_dict = {'Jan' : '1',
            'Dec' : '12',
            'Sep' : '9',
            'Apr' : '4',
            'Jun' : '6',
            'May' : '5'}

# Use .replace() to assign the new values
df['Month'].replace(col_dict, inplace=True)

# Change month to an integer
df['Month'] = df['Month'].astype(int)
df['Month'].unique()

array([10,  3,  6,  1,  8,  2,  9, 12, 11,  4,  7,  5])

In [25]:
# Turn Year and Month into a datetime object
df['Date'] = pd.to_datetime(df[['Year', 'Month']].assign(Day=1))

# Create a variable for today
today = datetime.datetime.today()
df['age'] = df['Date'].apply(lambda x: (today - x).days // 365)

# Drop all of these cols
df.drop(columns=['Year', 'Month', 'Date'], inplace=True)

df.head()

,Title,Artist,Genre,bpm,Energy,db,Liveness,length,Acousticness,Speechiness,Popularity,age
0,Sunrise,Norah Jones,adult standards,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0,17.0
1,Black Night,Deep Purple,album rock,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0,22.0
2,Clint Eastwood,Gorillaz,alternative hip hop,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0,20.0
3,The Pretender,Foo Fighters,alternative metal,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0,15.0
4,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0,19.0

#### Part 6 Dummies

In [26]:
df.dtypes

Title            object
Artist           object
Genre            object
bpm             float64
Energy          float64
db              float64
Liveness        float64
length          float64
Acousticness    float64
Speechiness     float64
Popularity      float64
age             float64
dtype: object

In [27]:
df['Genre'].nunique()

149

In [28]:
df = pd.get_dummies(df, columns=['Genre'], drop_first=True).drop(columns=['bpm', 'db', 'Energy', 'Liveness', 'length', 'Acousticness', 'Speechiness', 'Popularity']).copy()

In [29]:
df.head()

,Title,Artist,age,Genre_acoustic pop,Genre_adult standards,Genre_afropop,Genre_alaska indie,Genre_album rock,Genre_alternative country,Genre_alternative dance,...,Genre_reggae,Genre_reggae fusion,Genre_rock-and-roll,Genre_scottish singer-songwriter,Genre_soft rock,Genre_stomp and holler,Genre_streektaal,Genre_trance,Genre_uk pop,Genre_yacht rock
0,Sunrise,Norah Jones,17.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Black Night,Deep Purple,22.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Clint Eastwood,Gorillaz,20.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Pretender,Foo Fighters,15.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Waitin' On A Sunny Day,Bruce Springsteen,19.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Combine to one DF

In [30]:
final_df = pd.concat([df, new_df[new_df.columns]], axis=1)
final_df.drop(columns=['Year'], inplace=True)

final_df.head()

,Title,Artist,age,Genre_acoustic pop,Genre_adult standards,Genre_afropop,Genre_alaska indie,Genre_album rock,Genre_alternative country,Genre_alternative dance,...,Genre_uk pop,Genre_yacht rock,bpm,Energy,db,Liveness,length,Acousticness,Speechiness,Popularity
0,Sunrise,Norah Jones,17.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0
1,Black Night,Deep Purple,22.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0
2,Clint Eastwood,Gorillaz,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0
3,The Pretender,Foo Fighters,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0
4,Waitin' On A Sunny Day,Bruce Springsteen,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0